.main-about{
  padding: var(--mainpage-padding) 20px;
  text-align: center;
}
.about-section {
  margin: 0px auto;
  padding-top: 20px;
  max-width: 30em;
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
}
.about-section > h2{
  margin: 50px 0;
  text-align: center;
  font-weight: 540;
  font-size: 2em;
  position: relative;
}
.about-section h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px; /* This determines the position of the line below the text */
  transform: translateX(-50%); /* Center the line under the text */
  width: 3em;
  height: 3px;
  background-color: var(--blue); /* You can change the color of the line here */
}
.about-section h3{
  margin: 50px 0 0 0;
  text-align: center;
  font-weight: 540;
  font-size: 1.2em;
  position: relative;
}
.about-section p {
  font-size: 18px;
  font-weight: 300;
  color: var(--grey);
  line-height: 1.5em;
  text-align: justify;
}
.about-subsection{
  margin-bottom: 50px;
}
/* @media (max-width: 768px) {

} */