/* .main-home {
  padding-top: var(--mainpage-padding);
} */

.item1 {
  grid-area: bluePart;
}
.item2 {
  grid-area: whitePart;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "bluePart bluePart whitePart whitePart whitePart";
  gap: 10px;
  background-color: var(--white);
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  /* font-size: 30px; */
}
.item1 {
  position: relative;
  background-color: var(--seablue);
  min-height: 130vh;
}
.content {
  margin-top: 10em;
  width: 180%;
  font-size: 10px;
  position: absolute;
  top: 34em;
  right: -215%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  grid-area: card;
  box-shadow: var(--boxshadow);
  padding: 20px 0px;
  text-align: center;
}
.intro {
  grid-area: intro;
  min-width: 50em;
  background-color: var(--white);
  padding: 20px 50px;
  text-align: left;
}
.content-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "card card intro intro intro";
  background-color: var(--white);
}
#profilePhoto {
  width: 20em;
  height: 20em;
  border-radius: 50%;
}
.name > h1 {
  font-size: 3em;
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin: 20px 150px;
}
.name {
  text-align: center;
  position: relative;
}
.name h1:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -25px; /* This determines the position of the line below the text */
  transform: translateX(-50%); /* Center the line under the text */
  width: 2.5em;
  height: 3px;
  background-color: var(--blue); /* You can change the color of the line here */
}
.profession {
  padding: 20px 5px 10px 5px;
}
.profession > span {
  display: block;
  font-size: 1.6em;
  font-weight: 400;
  padding: 3px;
}
.social-bar {
  font-size: 11px;
  padding: 10px 3px 2px 3px;
  margin-top: 30px;
  box-shadow: var(--boxshadow);
}
.intro > h1 {
  font-size: 10em;
  font-weight: 700;
  margin: 10px 0;
}
.intro > h2 {
  margin: 10px 0;
  text-align: left;
  font-weight: 540;
  font-size: 3em;
}
.intro > p {
  font-size: 16px;
  font-weight: 200;
  color: var(--grey);
  line-height: 1.5em;
  text-align: justify;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 20px 0;
}

.home-btn {
  padding: 0.6rem 1.3rem;
  background-color: var(--seablue);
  border: 2px solid var(--black);
  font-size: 1rem;
  color: #111;
  line-height: 1;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.home-btn:hover {
  background-color: var(--black);
  color: var(--white);
}
.home-contact-btn {
  padding: 0.5rem 1.2rem;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  font-size: 1rem;
  color: var(--white);
  line-height: 1;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  
}
.home-contact-btn:hover {
  background-color: var(--seablue);
  color: var(--black);
  border: 2px solid var(--black);
}