.social-links {
  list-style-type: none;
  display: flex;
  padding: 5px;
  margin: 0;
  justify-content: center;
}
li {
  display: inline;
  margin: 0em 1em;

}

/* .socials :hover {
  transform: scale(1.1, 1.1);
} */
