@import url(https://fonts.googleapis.com/css?family=Grand);

:root {
  --black: #040303;
  --white: #ffffff;
  --seablue: #a0e9f8;
  --grey: #3b413c;
  --blue: #4b47d3;

  --mainpage-padding: 70px;
  --boxshadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
